# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: renovate

on:
  schedule:
    - cron: "30 0-4 * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: renovatebot/github-action@v43.0.20
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: /^jd1048576\/(dev-container|renovate)$/
          RENOVATE_CONFIG: |
            {
              "extends": ["local>jd1048576/renovate"]
            }
          RENOVATE_ONBOARDING: false
          RENOVATE_PLATFORM: github
          RENOVATE_REQUIRE_CONFIG: optional
          LOG_LEVEL: debug
        with:
          token: ${{ steps.app-token.outputs.token }}
